@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-size: 14px !important;
    font-family: 'Open Sans'!important;
    font-weight: bold;

}

.ui-widget,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
    font-size: 14px !important;
    font-family: 'Open Sans'!important;
    font-weight: bold;
}

.colored {
background-color: #FF0000;
color: #FFFFFF;
}