@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* jqm docs css

Beware: lots of last-minute CSS going on in here 
cobblers, shoes, 
*/


body { background: #f9f9f9; padding:13px; }
body.ui-mobile-viewport { padding: 0; }
body, input, textarea, select, button { font-family: 'Open Sans',san-serif!important; font-weight: bold;}
.ui-mobile .type-home .ui-content { margin: 0; background: #e5e5e5 url(../images/jqm-sitebg.png) top center repeat-x; }
.ui-mobile #jqm-homeheader { padding: 40px 10px 0; text-align: center;  margin: 0 auto; }
.ui-mobile #jqm-homeheader h1 { margin: 0 0 ; }
.ui-mobile #jqm-homeheader p { margin: .3em 0 0; line-height: 1.3; font-size: .9em; font-weight: bold; color: #666; }

.type-home .ui-content .jqm-version {
    display: block;
    position: absolute;
    width: 96px;
    border: solid #fff;
    border-width: 2px 1px;
    padding: .25em 2.25em;
    margin: 0 15px 0 0;
    right: 0;
    top: -2px;
    background: #f7cf57;
    color: #000;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    z-index: 9;
    -webkit-transform: rotate(45deg) translate(4.8em,-1em);
    -moz-transform: rotate(45deg) translate(4.8em,-1em);
    -ms-transform: rotate(45deg) translate(4.8em,-1em);
    -o-transform: rotate(45deg) translate(4.8em,-1em);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.40);
    box-shadow: 0 0 6px rgba(0,0,0,.40);
}
.type-home .ui-content .jqm-version b {
    color: #a21412;
    font-weight: bold;
}

.footer-docs {
    padding: 5px 0;
    clear:both;
    color:#666;
}
.footer-docs p {
    font-weight: normal;
    font-size: .9em;
}
.ui-mobile-viewport .footer-docs p {
    margin: .5em 15px;	
}
.ui-mobile-viewport .footer-docs p.jqm-version {
    font-weight: bold;
}
@media all and (min-width:650px) {
    .ui-mobile-viewport .footer-docs {
        overflow: hidden;		
    }
    .ui-mobile-viewport .footer-docs p {
        margin: 1em 15px;
        float: left;		
    }
    .ui-mobile-viewport .footer-docs p.jqm-version {
        float: right;
        font-weight: normal;
    }
}

h2 { margin:1.2em 0 .4em 0; }
p code { font-size:1.2em; font-weight:bold; } 
h4 code {font-size:1.2em; font-weight:bold; }

dt { font-weight: bold; margin: 2em 0 .5em; }
dt code, dd code { font-size:1.3em; line-height:150%; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
strong { font-weight: bold; }

#jqm-homeheader img { width: 275px; height: 78px; margin-top:-20px; }
img { max-width: 100%; }

/* fluid images moved from jquery.mobile.core.css*/
.ui-mobile img {
    max-width: 100%;
}

.ui-header .jqm-home { top: 0; }
nav { margin: 0; }

p.intro {
    font-size: .96em;
    line-height: 1.3;
    border-top: 1px solid #75ae18;
    border-bottom: 0;
    background: none;
    margin: 1.5em 0;
    padding: 1.5em 15px 0;
}
p.intro strong {
    color:  #558e08;
}

.type-interior .content-secondary {
    border-right: 0;
    border-left: 0;
    margin: 10px -15px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}
.type-home .ui-content {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.type-interior .ui-content {
    padding-bottom: 0;
}
.content-secondary .ui-collapsible {
    padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
    margin: 0;
}
.content-secondary .ui-collapsible-content {
    padding: 0;
    background: none;
}
.content-secondary .ui-listview {
    margin: 0;
}
/* new API additions */

dt {  
    margin: 35px 0 15px 0; 
    background-color:#ddd; 
    font-weight:bold;
}
dt code { 
    display:inline-block; 
    font-weight:bold;
    color:#56A00E; 
    padding:3px 7px; 
    margin-right:10px; 
    background-color:#fff; 
}
dd { 
    margin-bottom:10px; 
}
dd .default { font-weight:bold; }
dd pre { 
    margin:0 0 0 0; 
}
dd code { font-weight: bold; }
dd pre code { 
    margin:0; 
    border:none; 
    font-weight:bold; 
    font-size:100%; 
    background-color:transparent; 
}
dd h4 { margin:15px 0 0 0; }

.localnav {
    margin:0 0 20px 0;
}
.ui-mobile-viewport .localnav li {
    float:left;
}
.localnav .ui-btn-inner { 
    padding: .6em 10px; 
    font-size:80%; 
}

/* custom dialog for the photos sharing */
.ui-dialog.dialog-actionsheet .ui-dialog-contain {
    margin-top: 0;
}

/* popup examples */
.type-interior .ui-popup-container .ui-content { padding: 15px !important; }

/* F bar theme - just for the docs overview headers */
.ui-bar-f {
    border: 1px solid #56A00E;
    background: 			#74b042;
    color: 					#fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #335413;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
    background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
    background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
    background-image:         linear-gradient(#74b042, #56A00E);		
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
    font-family: sans-serif!important /*{global-font-family}*/;
    font-weight: bold;
}

.ui-bar-f,
.ui-bar-f .ui-link-inherit {
    color: 					#fff;
}
.ui-bar-f .ui-link {
    color: 					#fff;
    font-weight: bold;
}
.ui-btn-up-f {
    border: 1px solid 		#3B6F07;
    background: 			#56A00E;
    font-weight: bold;
    color: 					#fff;
    text-shadow: 0 1px 1px #234403;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
    background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
    background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
    background-image:         linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
    color: 					#fff;
}
.ui-btn-hover-f {
    border: 1px solid 		#3B6F07;
    background: 			#6EBC1F;
    font-weight: bold;
    color: 					#fff;
    text-shadow: 0 1px 1px #234403;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
    background-image:     -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
    background-image:      -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
    background-image:         linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
    color: 					#fff;
}
.ui-btn-down-f {
    border: 1px solid 		#3B6F07;
    background: 			#3d3d3d;
    font-weight: bold;
    color: 					#fff;
    text-shadow: 0 1px 1px #234403;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
    background-image:     -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
    background-image:      -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
    background-image:         linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
    color: 					#fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
    font-family: sans-serif!important;
    text-decoration: none;
    font-weight: bold;
}


/* docs site layout */

@media all and (min-width: 650px){

    .type-home .ui-content {
        margin-top: 5px;
    }
    .ui-mobile #jqm-homeheader {
        max-width: 340px;
    }
    p.intro {
        margin: 2em 0;
    }
    .type-home .ui-content,
    .type-interior > .ui-content {
        padding: 0;
    }
    .type-interior > .ui-content {
        overflow: hidden;
    }
    .content-secondary {
        text-align: left;
        float: left;
        width: 45%;
    }
    .content-secondary,
    .type-interior .content-secondary {
        margin: 30px 0 20px 2%;
        padding: 20px 4% 0 0;
        background: none;
        border-top: none;
        position: relative;
    }
    .type-interior .content-secondary::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        height: 1px;
        width: 1px;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        background: #bbb;
    }
    .type-index .content-secondary {
        padding: 0;
    }
    .content-secondary .ui-collapsible {
        margin: 0;
        padding: 0;
    }
    .content-secondary .ui-collapsible-content {
        border-left: none;
        border-right: none;
    }
    .type-index .content-secondary .ui-listview {
        margin: 0;
    }
    .ui-mobile #jqm-homeheader {
        padding: 0;
    }
    .content-primary {
        width: 45%;
        float: right;
        margin-top: 30px;
        margin-right: 1%;
        padding-right: 1%;
    }
    .content-primary ul:first-child {
        margin-top: 0;
    }
    /* collapsible non-inset example */
    .content-primary .ui-collapsible-content ul:first-child {
        margin-top: -10px;
    }
    .content-secondary h2 {
        position: absolute;
        left: -9999px;
    }
    .type-interior .content-primary {
        padding: 1.5em 6% 3em 0;
        margin: 0;
    }
    /* fix up the collapsibles - expanded on desktop */
    .content-secondary .ui-collapsible-inset {
        margin-bottom: -1px;
    }
    .content-secondary .ui-collapsible-heading {
        display: none;
    }
    .content-secondary .ui-collapsible-contain {
        margin:0;
    }
    .content-secondary .ui-collapsible-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .content-secondary .ui-collapsible-content,
    .content-secondary .ui-collapsible-content > .ui-listview .ui-li-last {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .type-interior  .content-secondary .ui-li-divider {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }

}
@media all and (min-width: 750px){
    .type-home .ui-content {
        background-position: 39%;
    }
    .content-secondary {
        width: 34%;
    }
    .content-primary {
        width: 56%;
        padding-right: 1%;
    }
}

@media all and (min-width: 1200px){
    .type-home .ui-content{
        background-position: 38.5%;
    }
    .content-secondary {
        width: 30%;
        padding-right:6%;
        margin: 30px 0 20px 5%;
    }
    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }
    .content-primary {
        width: 50%;
        margin-right: 5%;
        padding-right: 3%;
    }
    .type-interior .content-primary {
        width: 60%;
    }
}

/* reset for popup examples */
.type-interior .ui-popup.ui-content,
.type-interior .ui-popup .ui-content {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: visible;
}

/* tables documenting enum-type settings */
.enum-value {
    vertical-align: top;
    white-space: nowrap;
}

/* Navbar examples */
.content-primary > .ui-header,
.content-primary > .ui-footer {
    overflow: hidden;
}

/* list styles */
ul { margin:0; padding-left:0; }
ul li { list-style:none; padding:.7em 0; margin:0; border-bottom:1px solid #e3e3e3; }
ul ul li { border: none;}

dl dd ul { padding-left: 40px; }
dl dd ul li { list-style: disc; }
dl dd ul li li { list-style: circle; }
dl dd ul li li li { list-style: square; }
dl dd ul li { border: none; }

.ui-mobile-viewport .localnav li {
    border: none;	
}
