<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <div id="header">
        <div id="headerin" style="margin: 0 5px 5px 5px;">
            <h:panelGrid columns="2" style="padding-left: 20px;">
                <column>
                    <br/>
                    <h:outputText style="color: #000;font-size: 16px;font-weight: bold;" value="PLM ENT - HEAD AND NECK CLINIC"/><br/>
                    <h:outputText style="color: #000;font-size: 14px;" value="Clinic Management Information System"/>
                </column>
            </h:panelGrid>
        </div>
    </div>
</ui:composition>
