
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form>
        <p:outputPanel id="menuPanel" layout="block">
            <p:menu style="width:auto;height:auto;border:none;font-size:small;padding:0px;">
                <p:submenu icon="ui-icon ui-icon-refresh">
                    <p:menuitem value="Patient Profile" icon="ui-icon-folder-open" outcome="view_profile"/>
                    <p:menuitem value="Appointments" icon="ui-icon-script" outcome="view_appointments"/>
                    <p:menuitem value="Product Inventory" icon="ui-icon-comment" outcome="view_inventory"/>
                    <p:menuitem value="Reports" icon="ui-icon-print" outcome="view_reports"/>                
                </p:submenu>
            </p:menu>
        </p:outputPanel>
    </h:form>
</ui:composition>


