<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" id="fview">
        <f:facet name="first">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </f:facet>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/>
        <ui:debug />
        <f:metadata>
            <ui:insert name="metadata" />
        </f:metadata>
        <h:head>
            <title>Clinic Management Information System</title>
            <p:layout fullPage="true" resizeTitle="resize" style="background-color:#fcfcfa; vertical-align: top;">
                <p:layoutUnit position="north" size="180" id="north" >
                    <ui:include src="header.xhtml" />
                </p:layoutUnit>

                <p:layoutUnit position="west" size="0" style="width:0px; display:none;" id="west">
                </p:layoutUnit>

                <p:layoutUnit	styleClass="layoutUnitCenter"	position="center">
                    <ui:insert name="content" />
                    <f:facet name="complete">  
                        <p:graphicImage value="/resources/images/idle.gif"/> 
                    </f:facet> 
                    <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
                        <f:facet name="start">  
                            <p:graphicImage value="/resources/images/loading.gif"/>  
                        </f:facet>  

                        <f:facet name="complete">  
                            <p:graphicImage value="/resources/images/idle.gif"/> 
                        </f:facet>  
                    </p:ajaxStatus>
                </p:layoutUnit>

                <p:layoutUnit position="east" size="0" style="width:0px; display:none;" id="east">
                </p:layoutUnit>

                <p:layoutUnit position="south" resizable="true" id="south">
                    <ui:include src="footer.xhtml" />
                </p:layoutUnit>

            </p:layout>

            <p:dialog modal="true" widgetVar="statusDialog" header ="Please wait..." 
                      draggable="false" closable="false" resizable="false" 
                      visible="false" position="center" maximizable="false" minimizable="false" >
                <p:graphicImage value="/resources/images/loading.gif"/>
            </p:dialog>
            <script type="text/javascript">
                function start() {
                    PF('statusDialog').show();
                }

                function stop() {
                    PF('statusDialog').hide();
                }
            </script>

        </h:head>

        <h:body onload="PF('statusDialog').hide();">
            <f:facet name="last">
                <h:outputStylesheet name="css/jsfcrud.css"/>
                <h:outputStylesheet name="css/style.css"/>
                <h:outputStylesheet name="css/default.css"/>
                <h:outputStylesheet name="js/script.js"/>
            </f:facet>
        </h:body>

    </f:view>
</html>		