<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/templatey.xhtml">
    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:form>
            <p:growl showDetail="true"/>
            <p:panel header="Personal Information" style="width: 100%;">
                <h:panelGrid columns="3" cellpadding="15">
                    <p:graphicImage rendered="true" value="/resources/images/blank.jpg" width="180" height="180" />
                    <h:panelGrid columns="2">
                        <h:panelGrid>
                            <h:panelGrid columns="2">
                                <h:outputText value="Patient Name: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.firstname} #{charController.client.lastname}"/>
                                <h:outputText value="Gender: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.gender}"/>
                                <h:outputText value="Address: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.streetaddress} #{charController.client.brgy} #{charController.client.town} #{charController.client.province}"/>
                                <h:outputText value="Contact Info: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.contactinfo}"/>
                                <h:outputText value="Birth Date: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.birthday}">
                                    <f:convertDateTime timeZone="Asia/Manila" pattern="MMM dd, yyyy" dateStyle="default" type="date" />
                                </h:outputText>
                                <h:outputText value="Age: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.ageString}"/>
                                <h:outputText value="Occupation: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.occupation}"/>
                                <h:outputText value="Status: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.status}"/>
                            </h:panelGrid>
                        </h:panelGrid>
                        <h:panelGrid>
                            <h:panelGrid columns="2">
                                <h:outputText value="HMO/Insurance: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.insurance}"/>
                                <h:outputText style="font-weight: bold;" value="In case of emergency, please notify: "/>
                                <h:outputText value=""/>
                                <h:outputText value="Contact Person: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.emergencyname}"/>
                                <h:outputText value="Contact Info: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.emergencycontact}"/>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>
                    <p:panel header="Current Health Condition" style="width:100%;float: right;">
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:panelGrid columns="2">
                                <h:outputText value="Food Allergy(ies): "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.foodallergy}"/>
                                <h:outputText value="Medicine Allergy(ies): "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.medicineallergy}"/>
                                <h:outputText value="Latex Allergy: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.latexallergy}"/>
                                <h:outputText value="Other Allergy(ies): "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.otherallergies}"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2">
                                <h:outputText value="Cough/Colds: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.coughcolds}"/>
                                <h:outputText value="Cancer: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.cancer}"/>
                                <h:outputText value="Hypertension: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.hypertension}"/>
                                <h:outputText value="Smoking habit: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.smoking}"/>
                                <h:outputText value="Alcohol use: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.alcoholic}"/>
                                <h:outputText value="Diabetes Mellitus: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.diabetesmellitus}"/>
                                <h:outputText value="Last Surgery done: "/>
                                <h:outputText style="font-weight: bold;" value="#{charController.client.surgerydone}"/>
                            </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>
                </h:panelGrid>
            </p:panel>
            <br/>
            
                <h:panelGrid columns="2" style="float: right;">
                    <p:commandButton actionListener="#{charController.updateChart}" value="Update"/>
                    <p:commandButton onclick="window.close();" value="Back to Home"/>
                </h:panelGrid>
            
            <br/>
            <p:panel rendered="#{charController.selectedChart!=null}">
                <p:panelGrid columns="6">
                    <h:outputText style="font-weight: bold;" value="Date: "/>
                    <h:outputText style="font-weight: bold;" value="Weight (kg)"/>
                    <h:outputText style="font-weight: bold;" value="Height (ft/in)"/>
                    <h:outputText style="font-weight: bold;" value="Blood Pressure (mmHg)"/>
                    <h:outputText style="font-weight: bold;" value="Pulse (bpm)"/>
                    <h:outputText style="font-weight: bold;" value="Referred by: "/>
                    <p:inplace editor="true" style="font-weight: bold;">
                        <p:calendar value="#{charController.selectedChart.recorddatetime}" maxdate="#{appConstants.maxDate}" navigator="true" style="font-weight: bold;" pattern="MMM dd, yyyy">
                            <f:convertDateTime timeZone="Asia/Manila" pattern="MMM dd, yyyy" dateStyle="default" type="date" />
                        </p:calendar>
                    </p:inplace>
                    <p:inputText value="#{charController.selectedChart.weight}" style="font-weight: bold;"/>
                    <p:inputText value="#{charController.selectedChart.height}" style="font-weight: bold;"/>
                    <p:inputText value="#{charController.selectedChart.bloodpressure}" style="font-weight: bold;"/>
                    <p:inputText value="#{charController.selectedChart.pulse}" style="font-weight: bold;"/>
                    <p:inputText value="#{charController.selectedChart.referredby}" style="font-weight: bold;"/>
                </p:panelGrid>

                <br/>
                <h:panelGrid cellpadding="15" columns="2">
                    <h:panelGrid>
                        <h:outputText value="Personal/Family History"/>
                        <p:inputTextarea value="#{charController.selectedChart.familyhistory}" style="font-weight: bold;width: 500px;height: 100px;"/>                       
                    </h:panelGrid>
                    <h:panelGrid>
                        <h:outputText value="Past Medical History"/>
                        <p:inputTextarea value="#{charController.selectedChart.medicalhistory}" style="font-weight: bold;width: 500px;height: 100px;"/>                       
                    </h:panelGrid>
                </h:panelGrid>
                <br/>
                <p:panel>
                    <h:panelGrid columns="3">
                        <p:panel header="History">
                            <p:dataTable id="tblChartList" widgetVar="chartList" value="#{charController.chartDetailsList}" var="ch"
                                         emptyMessage="-" scrollable="true" scrollHeight="647" sortBy="#{ch.daterecorded}"
                                         lazy="false" selectionMode="single" selection="#{charController.selectedChart}" rowKey="#{ch.id}">
                                <p:column width="5">
                                    <f:facet name="header">
                                        <h:outputText value="Dates" style="text-align: center;"/>
                                    </f:facet>
                                    <h:outputText value="#{ch.recorddatetime}">
                                        <f:convertDateTime timeZone="Asia/Manila" pattern="MMM dd, yyyy" dateStyle="default" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                        <p:panel>
                            <h:outputText style="font-weight: bold;" value="Complaints "/>
                            <p:inputText value="#{charController.selectedChart.chiefcomplaint}" size="60" style="font-weight: bold;"/>
                            <br/>
                            <h:outputText value="History of Present Illness"/>
                            <p:inputTextarea value="#{charController.selectedChart.illnesshistory}" style="font-weight: bold;width: 440px;height: 300px;"/>
                            <br/>
                            <p:panel>
                            </p:panel>
                            <h:outputText value="Follow up Plan"/>
                            <p:inputTextarea value="#{charController.selectedChart.followup}" style="font-weight: bold;width: 440px;height: 100px;"/>
                        </p:panel>
                        <p:panel>
                            <p:tabView>
                                <p:tab title="PE">
                                    <h:panelGrid columns="2">
                                        <h:panelGrid>
                                            <h:outputText value="Skin Musculo Skeletal"/>
                                            <p:inputTextarea value="#{charController.selectedChart.skinmusculoskeletal}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText value="Abdomen Urinary"/>
                                            <p:inputTextarea value="#{charController.selectedChart.abdomenurinary}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText value="HEENTNeck"/>
                                            <p:inputTextarea value="#{charController.selectedChart.heentnneck}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText value="Pelvic"/>
                                            <p:inputTextarea value="#{charController.selectedChart.pelvic}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText value="Chest Heart Lungs"/>
                                            <p:inputTextarea value="#{charController.selectedChart.chestheartlungs}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText value="Neurologic"/>
                                            <p:inputTextarea value="#{charController.selectedChart.neurologic}" style="font-weight: bold;width: 240px;height: 182px;"/>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </p:tab>
                                <p:tab title="Notes">
                                    <p:inputTextarea value="#{charController.selectedChart.additionalnotes}" style="font-weight: bold;width: 500px;height: 645px;"/>
                                </p:tab>
                            </p:tabView>
                        </p:panel>
                    </h:panelGrid>
                </p:panel>
                <br/>
                <p:commandButton value="Wew"/>
                <br/><br/><br/><br/>
            </p:panel>
        </h:form> 
    </ui:define>
</ui:composition>
