<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">
    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:form id="newcert">
            <p:growl showDetail="true" autoUpdate="true"/>
            <p:panel header="Medical Certificate" style="height: 100%;">
                <center>
                    <h:outputText value="TO WHOM IT MAY CONCERN: " style="font-size: 20px;"/>
                    <br/> <br/>
                    <p:inputTextarea value="#{medCertController.message}" style="width: 800px;height: 300px;" />
                    <br/>

                    <br/>
                    <p:panel style="width: 800px;height: 70px;text-align: left;">
                        <h:outputText style="text-align: left;" value="This certifcation is issued for whatever purpose it may serve."/><br/>
                        <h:outputText style="text-align: left;" value="#{medCertController.dateString}"/>
                        <h:panelGrid columns="2" style="float: right;">
                            <p:commandButton actionListener="#{medCertController.newCert()}" icon="ui-icon-refresh" styleClass="ui-priority-primary" value="New">
                            <p:ajax update="newcert" resetValues="true" />
                        </p:commandButton>
                        <p:commandButton oncomplete="PF('reportViewer').show();" update=":reportViewForm:p1" actionListener="#{medCertController.downloadMedCert()}" value="Save and Print" styleClass="ui-priority-primary"/>
                    </h:panelGrid>
                    </p:panel>
                </center>
            </p:panel>
        </h:form>

        <p:dialog widgetVar="reportViewer" width="100%" height="100%" resizable="false" draggable="false" maximizable="false" modal="true">
            <h:form id="reportViewForm">
                <p:outputPanel rendered="#{medCertController.pdfViewPath!=null}" id="p1">
                    <h:outputLink target="_blank" value="..#{medCertController.pdfViewPath}">Download</h:outputLink>
                    <br/>
                    <object type="application/pdf" data="..#{medCertController.pdfViewPath}" height="100%" width="100%">
                        Your browser can't display pdf, <a href="..#{medCertController.pdfViewPath}">click</a> to download pdf instead.
                    </object>
                </p:outputPanel>
            </h:form>
        </p:dialog> 
    </ui:define>
</ui:composition>
